@model IEnumerable<Qotos.Models.Photo>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
	Layout = "_Layout";
	ViewData["Title"] = "Hồ sơ cá nhân";
	string userId = UserManager.GetUserId(User);
	var data = ViewData["Data"] as dynamic;
	var photosCount = data.PhotosCount;
	var likesCount = data?.LikesCount;
	var collectionsCount = data?.CollectionsCount;
	var accountUserName = data?.AccountUserName;
	var accountDescription = data?.AccountDescription;
	var accountThumbnail = data?.AccountThumbnail;
	var accountId = data?.AccountId;
}

<div class="d-flex container justify-content-center my-5 pt-5">
	<img style="width: 150px; height: 150px; object-fit: cover" class="rounded-circle" src="@accountThumbnail" ]"
		alt="" />
	<div class="ms-5">
		<div class="d-flex align-items-center">
			<h1>@accountUserName</h1>
			@if (String.Equals(accountId, userId))
			{
				<a class="btn btn-outline-secondary ms-3" asp-action="info" asp-controller="accounts">
					<i class="bi bi-pencil-square"></i> Cài đặt tài khoản
				</a>
			}
		</div>
		<div>@accountDescription</div>
	</div>
</div>
<div class="w-100">
	<ul class="nav nav-underline border-bottom px-3">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" asp-action="profile" asp-asp-controller="accounts"><i
					class="bi bi-image"></i> Ảnh
				@photosCount</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-secondary" asp-action="like" asp-asp-controller="accounts"><i
					class="bi bi-heart-fill"></i> Thích @likesCount</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-secondary" asp-action="collection" asp-controller="accounts"><i class="bi bi-images">
				</i>Albums @collectionsCount</a>
		</li>
	</ul>
</div>
<div class="container my-5 pb-5">
	<div class="row">
		@if (Model.Count() == 0)
		{
			<div class="text-center">
				<img src="https://unsplash-assets.imgix.net/empty-states/photos.png?auto=format&fit=crop&q=60" alt=""
					class="w-25">
			</div>
		}
		else
		{
			@foreach (var item in Model)
			{
				<div class="col-4 my-3">
					<div class="card">
						<a class="p-3 text-decoration-none link-dark" href="/accounts/&#64;@item.User.UserName/profile">
							<img style="width: 32px; height: 32px; object-fit: cover" class="rounded-circle" src="@item.User.Thumbnail"
								alt="" />
							<span class="fw-bold">@item.User.UserName</span>
						</a>
						<img class="card-img-top btn-view" src="@item.Thumbnail" alt="Card image" style="cursor: zoom-in;"
							data-bs-toggle="modal" data-bs-target="#viewPictureModal" data-url="/photos/view/@item.Id" />
						<div class="card-body d-flex">
							@{
								var isLikedByCurrentUser = (userId != null) && item.Likes.Any(l => l.UserId == userId);
							}
							<button class="btn @(isLikedByCurrentUser?"btn-outline-danger":"btn-outline-secondary") me-2 btn-like"
								data-url="/photos/like/@item.Id">
								<i class="bi bi-heart-fill"></i>
							</button>
							<button class="btn btn-outline-secondary me-auto btn-collection" data-url="@item.Id"><i
									class="bi bi-plus-square"></i></button>
							@if (String.Equals(accountId, userId))
							{
								<button class="btn btn-outline-secondary btn-edit me-2" data-url="/photos/view/@item.Id"
									data-bs-toggle="modal" data-bs-target="#editPictureModal"><i class="bi bi-pencil-square"></i> Edit</button>
								<button class="btn btn-outline-secondary btn-delete" data-url="/photos/delete/@item.Id"><i
										class="bi bi-trash3"></i></button>
							}
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>

@* Modal Edit Picture *@
<div class="modal fade modal-lg" id="editPictureModal" tabindex="-1" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-4 overflow-hidden">
						<img class="rounded-start" id="editThumbnail" name="editThumbnail"
							src="https://ps.w.org/kama-thumbnail/assets/icon-256x256.png?rev=2836004" alt="">
					</div>
					<div class="col-8">
						<form id="formEditPicture">
							<div class="mb-3">
								<label for="editDescription" class="form-label">Mô tả</label>
								<textarea class="form-control" id="editDescription" name="editDescription" rows="3"
									placeholder="Thêm mô tả"></textarea>
							</div>
							<div class="mb-3">
								<label for="editLocation" class="form-label">Location</label>
								<input type="text" class="form-control" id="editLocation" name="editLocation">
							</div>
							<div class="mb-3">
								<label for="editCamera" class="form-label">Camera</label>
								<input type="text" class="form-control" id="editCamera" name="editCamera">
							</div>
							<div class="form-group my-3">
								<select class="form-control" id="editTags" style="width: 100%;" multiple="multiple" name="editTags[]">
								</select>
							</div>
							<div class="text-end ">
								<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
								<button type="submit" class="btn btn-secondary">Lưu</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="deletePhotoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Bạn có chắc chắn muốn xoá ảnh này không?</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul class="text-danger">
					<li>Ảnh sẽ bị xoá và không thể khôi phục lại.</li>
					<li>Hành động này không thể đảo ngược. Hãy chắc chắn bạn đã xem xét kỹ trước khi xác nhận.</li>
					<li>Sau khi xoá, bạn sẽ mất truy cập vào ảnh và không thể chia sẻ nó nữa.</li>
					<li>Hãy chắc chắn rằng bạn đã sao lưu hoặc lưu trữ ảnh quan trọng trước khi xoá.</li>
					<li>Xác nhận rằng bạn đã xem xét các liên kết hoặc sự kết nối của ảnh này với bài viết hoặc dự án khác.</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
				<button type="button" class="btn btn-primary" id="btnDeletePhoto">Xoá</button>
			</div>
		</div>
	</div>
</div>
<!-- /Modal -->

@section js {
	<script>
		let userId = '@userId';
	</script>
	<script src="/js/profile.js"></script>
}
